/* Add transition to containers so they can push in and out */
#layout, #menu, .menu__side--link {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}



/* --------------------------
 * Layout Styles
 * --------------------------
*/

#layout {
    padding-left: $sidebar-width; /* left col width "#menu" */
    left: 0;

}

#menu {
    margin-left: $sidebar-width * -1; /* "#menu" width */
    width: $sidebar-width;
    position: fixed;
    top: 0;
    left: $sidebar-width;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: $sidebar-bg;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
}
    #menu a {
        color: $sidebar-link-color;
        border: none;
        white-space: normal;
        padding: 0.6em 0 0.6em 0.6em;
    }

    #menu .menu__side--open {
        background: transparent;
        border: 0;
    }

    #menu .menu__side ul {
        border: none;
        background: transparent;
    }

    #menu .menu__side ul,
    #menu .menu__side .menu__side--divided {
        border-top: 1px solid darken( $sidebar-link-color, 25%);
    }

        #menu .menu__side li a:hover,
        #menu .menu__side li a:focus {
            background: darken($body-bg, 4%);
            background: darken( $sidebar-link-color, 20%);
        }

    .menu__side--link {
        display: none; /* show this only on small screens */
        top: 0;
        left: $sidebar-width; /* "#menu width" */
        background: $sidebar-bg;
        background: rgba($sidebar-bg,0.7);
        font-size: 10px; /* change this value to increase/decrease button size */
        z-index: 10;
        width: 2em;
        height: auto;
        padding: 2.1em 1.6em;
    }

        .menu__side--link:hover,
        .menu__side--link:focus {
            background: darken($sidebar-bg, 10%);
        }

        .menu__side--link span {
            position: relative;
            display: block;
        }

        .menu__side--link span,
        .menu__side--link span:before,
        .menu__side--link span:after {
            background-color: #fff;
            width: 100%;
            height: .2em;
            -webkit-transition: all 0.8s;
               -moz-transition: all 0.8s;
                -ms-transition: all 0.8s;
                 -o-transition: all 0.8s;
                    transition: all 0.8s;
        }

            .menu__side--link span:before,
            .menu__side--link span:after {
                position: absolute;
                margin-top: -.6em;
                content: " ";
            }

            .menu__side--link span:after {
                margin-top: .6em;
            }

        .menu__side--link.active span {
            background: transparent;
        }

            .menu__side--link.active span:before {
                -webkit-transform: rotate(45deg) translate(.5em, .4em);
                   -moz-transform: rotate(45deg) translate(.5em, .4em);
                    -ms-transform: rotate(45deg) translate(.5em, .4em);
                     -o-transform: rotate(45deg) translate(.5em, .4em);
                        transform: rotate(45deg) translate(.5em, .4em);
            }

            .menu__side--link.active span:after {
                -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
                   -moz-transform: rotate(-45deg) translate(.45em, -.35em);
                    -ms-transform: rotate(-45deg) translate(.45em, -.35em);
                     -o-transform: rotate(-45deg) translate(.45em, -.35em);
                        transform: rotate(-45deg) translate(.45em, -.35em);
            }

    #menu .menu__side-heading {
        font-size: 110%;
        color: #fff;
    }
    #menu .menu__side-heading:hover,
    #menu .menu__side-heading:focus {
        color: #999;
    }

    #menu .menu__side-selected {
        background: #1f8dd6;
    }

        #menu .menu__side-selected a {
            color: #fff;
        }

        #menu li.menu__side-selected a:hover,
        #menu li.menu__side-selected a:focus {
            background: none;
        }




/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media (max-width: 870px) {

    /* Navigation Push Styles */
    #layout {
        position: relative;
        padding-left: 0;
    }
        #layout.active {
            position: relative;
            left: $sidebar-width;
        }
            #layout.active #menu {
                left: $sidebar-width;
                width: $sidebar-width;
            }

    #menu {
        left: 0;
    }

    .menu__side--link {
        position: fixed;
        left: 0;
        display: block;
    }

    #layout.active .menu__side--link {
        left: $sidebar-width;
    }
}

@media (max-width: 767px) {

    .header,
    .content {
        font-size: 87.5%;
    }

    .header,
    .content,
    .legal {
        padding-left: 1.1429em;
        padding-right: 1.1429em;
    }
}
//

/*csslint adjoining-classes:false, outline-none:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/


//MENU STYLING
.menu__side ul {
    position: absolute;
    visibility: hidden;
}

.menu__side.menu__side--open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.menu__side ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.menu__side > ul { position: relative; }

.menu__side--open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.menu__side--open > ul:focus {
    outline: 0;
}

.menu__side li { position: relative; }

.menu__side a,
.menu__side .menu__side-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.menu__side.menu__side-horizontal > .menu__side-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.menu__side.menu__side-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    height: 2.4em;
}

.menu__side li a { padding: 5px 20px; }

.menu__side-can-have-children > .menu__side-label:after {
    content: '\25B8';
    float: right;
    /* These specific fonts have the Unicode char we need. */
    //font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
    margin-right: -20px;
    margin-top: -1px;
}

.menu__side-can-have-children > .menu__side-label {
    padding-right: 30px;
}

.menu__side-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.menu__side-hidden {
    display: none;
}

/* FIXED MENU */
.menu__side-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



////

