// This module may be incompatible with sidebar-right

$splash-height: 460px !default;
$splash-height-mobile: 150px !default;
$splash-color: #999 !default;
$splash-color-background:#191919 !default;


.splash {
	//margin-top: $navigation-height * -1;
	height: $splash-height-mobile; //<-- MOBILE
	//overflow: visible;
	overflow: hidden;
	//display: none;
	background-position:50% 50%;
	
		@include media($d-vp) {

			height: $splash-height; //<-- DESKTOP
			background-position:50% 20%;

			display: block;
			//The following items fix our image so that we can use 
			// the parallax effect//dependency for the parallax effect
			position: fixed;
			top:0;
			left:0;
			z-index: -1;
		}
		
		max-height:$splash-height;
		width: 100%;
		background-color: $splash-color-background;
}

.content_splash {
		margin-top:0;// $splash-height-mobile;
		background-color: $base-body-color-background;
		min-height: 600px;

			@include media($d-vp) {
				margin-top: $splash-height;
		}
}
