// INCLUDES
$include-sidebar-right: false;
$include-sidebar-left: false;


$navigation-background: transparent;

// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: Raleway, $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #111;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$base-spacing: 2em;

$heading-color: black;
$navigation-color-active: red;

// Body Color
$base-body-color: $blue;//white;
$base-body-color-background: #FFF;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;


$footer-background: $dark-gray;