{{/* This is identical to the view-list view, except the "show_time" is set to true for future events */}}
{{ if .Params.events }}
  {{$events_param := string (index .Params.events 0) }}
  {{$event_color := $.Site.GetPage "taxonomyTerm" "events" $events_param }}
<li class="list tl">
{{ $.Scratch.Get "events"}}
  <a href="{{.URL}}" class="blTK b--{{$event_color.Title | urlize }}  brand-font bw2 mid-gray db f6 fw8 hover-white hover-bg-{{$event_color.Title | urlize }} lh-title link mv4 pl2TL pv1 pr4 w-100 ">
  {{ partial "components/time.html" (dict "context" . "show_time" false "classes" "db f7 fw4 hover-white mid-gray mb1") }}
  <span class="db f7 hover-black {{$event_color.Title | urlize }}">{{$event_color.Title}}</span>
    {{ .Title }}
  </a>
</li>
{{end}}
