  <ul id="js-navigation-menu" class="navigation-menu">
	<li class="nav-link">
    <a href="/">
      home
    </a>
  </li>
	{% for links in site.data.navigation %}		
		<li id="{{links.slug}}" class="nav-link{% if page.url contains /links.slug/  %} active{% endif %}">
			<a href="{{ links.slug }}">
        {{links.name}}
      </a>
		</li>
  {% endfor %}
  <li id="js-navigation-more" class="nav-link more">
    <a href="javascript:void(0)">productions</a>
    <ul class="submenu">
      {% for links in site.data.navigation-productions %}   
        <li>
          <a href="{{ links.slug }}">{{ links.name }}</a>
        </li>
      {% endfor %}            
    </ul>
  </li>
  <li class="nav-link">
      <a href="https://the-whole-story.whatsnous.com/">
        Whole Story Podcast
      </a>
    </li>
</ul>