<article class="hentry prose">
  {% if page.collection == 'productions' %}
    <h2>
      Creative Team
    </h2>
  {% else %}
    <h2>
      Bios
    </h2>
  {% endif %}

{% for item in page.people %}
  {% assign staff = site.contributors | where: 'slug', item.contributor %}
  {% for object in staff %}
    <h3>
      {{ object.title }}
    </h3>
      {% if item.role %}
        <h4 class="small" style="margin:1em 0;font-weight:normal;font-size:.875em;">
          <em>
            {{ item.role }}
          </em>
        </h4>
      {% endif %}
    {{ object.content | markdownify }}
    <hr />
  {% endfor %}
{% endfor %}
</article>
