
<article class="hentry prose">

{% if page.contributor_heading %}


<h2>{{ page.contributor_heading }}</h2>
  {% else %}
  <h2>Bios</h2>
{% endif %}
{% for item in page.contributors %}
  {% assign staff = site.contributors | where: 'slug', item %}
  {% for object in staff %}
    <h3>
      {{ object.title }}
    </h3>
      {% if object.job %}
        <h4 class="small" style="margin:1em 0;font-weight:normal;font-size:.875rem;">
          <em>
            {{ object.job }}
          </em>
        </h4>
      {% endif %}
    {{ object.content | markdownify }}
    <hr />
  {% endfor %}
{% endfor %}
</article>
