<footer class="page-foot">
	<div class="container">
		<a href="/about"><span>About</span></a>
		<a href="/archive"><span>Archive</span></a>
		<a href="/rss"><span>Feed</span></a>
		<a href="http://sonnetmedia.net">site by sonnet media</a></span>
	</div>
</footer>
