<hr />
<p><strong>About Nous Entertainment:  </strong>
<br />
Nous Entertainment LLC is an independent production company focused on the development, marketing and distribution of film and television programming aimed at balancing entertainment with issue-driven content. Through strategic partnerships with venture and private equity as well as leading philanthropic organizations, Nous brings inspiring narratives and entertaining stories to life. For more information, please visit <www.whatsnous.com>
</p>

<p><strong>Media Contact:</strong><br />
Amy Thompson 202.297.3462 <br />
<a href="mailto:amymshirk@gmail.com">amymshirk@gmail.com</a>