<div class="grid">

<div class="grid__item  palm-one-whole one-third">
<p class="demo-block">One third grid</p>
</div><!--

--><div class="grid__item  two-thirds palm-one-whole">
<p class="demo-block">Two thirds grid</p>
</div><!--

--><div class="grid__item  one-half palm-one-whole">
<p class="demo-block">One half grid</p>
</div><!--

--><div class="grid__item  one-quarter palm-one-whole">
<p class="demo-block">One quarter grid</p>
</div><!--

--><div class="grid__item  one-quarter palm-one-whole">
<p class="demo-block">One quarter grid</p>
</div>

</div>