<article class="hentry {% if page.class %}{{page.class}}{% endif %}">
  <header>
    {% if page.title %}
    <h1 class="entry-title">{{page.title}}</h1>
    {% endif %}
    {% if page.subtitle %}
    <h2>
      {{page.subtitle}}
    </h2>
    {% endif %}
    {% if page.collection == 'posts' %}
      {% if page.date %}
        <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
          <small>
            {{ page.date | date:'%A %b %d, %Y' }}
          </small>
        </time>
      {% endif %}
    </header>
    {% endif %}
{% comment %}Content Below{% endcomment %}
  <div class="entry-content prose">



    <h6 style="margin-bottom:2em;">{{page.category}}</h6>
    {% if page.class == 'home' %}
      {% include snippets/news-item.html %}
    {% endif %}

    {% assign number_of_words = page.content | number_of_words  %}
    <div{% if number_of_words < 180 %} class="lede"{% endif %}>

      {{ page.content  }}

      {% if page.permalink == '/news/' %}
        {% include snippets/news.html %}
      {% endif %}


    </div>


    {% if page.file %}
    <small><a href="/assets/files/{{page.file}}">DOWNLOAD</a></small>
  {% endif %}
    {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
  </div>
  {% if site.include_addthis_sharing %}
    <div class="sharing">
      {% include articles/sharing.html %}
    </div>
  {% endif %}

    {% if page.url contains '/article/' %}
    {% include articles/comments-twitter.html %}
      {% include global/license-creative-commons.html %}
    {% endif %}



</article>
