{{ define "main" }}
  {{partial "article-listpage.html" .}}
  <div class="mw8 center">
    {{ $section := where .Data.Pages "Section" .Section }}
    <section class="mv5">
      {{ range  $section }}
        <div class=" w-100 mb4 bg-white pa5 text-color-primary">
          {{.Render "summary"}}
          {{$inResidence := (where (.Site.RegularPages.ByParam "academic_year").Reverse ".Params.chair" .File.Path)}}
          <div class="flex flex-wrap justify-between">
            {{range $inResidence}}
              {{.Render "summary"}}
            {{end}}
          </div>
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
