{{ $news := where (.Site.RegularPages) ".Section" "news" }}

{{/* {{if not .IsHome}}id="expandable-nav-side"{{end}} */}}
<div id="expandable-nav-side" class="sidebar bottom-0 expandable flex flex-column fixed top-0 right-0 height-100 transition bg-near-white overflow-y-scroll pt5 w-sidebar-lg z-99" role="banner" data-search-index="false">
{{/* {{if not .IsHome}}IF using the permanent sidebar on home page, put this around the close label{{end}} */}}
  <label for="expandable-nav-side-input" class="absolute db hover-red pointer text-decoration-none mr4 mt3 moon-gray toggle top-0 transition right-0 z-9999">
    {{- partial "svg/ic_close_black_24px.svg" (dict "width" "36" "height" "36") -}}
  </label>

  <div class="db dn-l dark-gray">
    {{partial "global/nav-menu-mobile.html" .}}
  </div>

  <ul class="dib hidden list ma0 pb6 ph2 ml2 scrolling-touch">
    {{/* <li class="accent-color mb2">No Upcoming Events</li> */}}

    {{ range first 4 $news }}
        {{partial "summary-no-image.html" .}}
    {{end}}

    </ul>

  <div class="colortk center db mb3 w-80">
  {{- partial "social-follow.html" . -}}
  </div>
</div>
