{{ $currentPage := . }}
{{ $listlinkClasses := "fw6 color-inherit db dim f5 fw3 link ph3 pv2" }}
{{$menu := .Site.Menus.main }}
{{$menu_secondary := .Site.Menus.secondary }}
<a href="/" class="color-inherit db dim f4 fw9 lh-title ml3 mb2 no-underline">
  {{ .Site.Title }}
</a>

{{ range $menu }}
     <div class="v-top {{if $currentPage.IsMenuCurrent   "main" . }} o-50{{end}}">
      {{ if .HasChildren }}
         <label for="child-menu-button-{{.Name |urlize}}" class="{{$listlinkClasses}}">
          {{- .Name -}}
            <img src="/icons/carat-down.svg" class="dib v-mid gray" height="22px" width="22px"/>
         </label>
      {{else}}
     <a href="{{.URL}}" class="{{$listlinkClasses}}">{{ .Name }}</a>
     {{end}}
     </div>
    {{ if .HasChildren }}
    <input type="checkbox" name="child-menu-button" class="child-menu-button clip" id="child-menu-button-{{.Name |urlize}}" />
     <ul class="child-menu b--dark-gray ba bg-primary-color child list pl0 pv2">
       {{ range .Children }}
         <li class="f6 hover-bg-primary-color-dark hover-light-gray moon-gray pl0 pr3{{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color-dark{{end}}">
           <a href="{{.URL}}" class="color-inherit db link ph3 pv2">
             {{ .Name }}
           </a>
         </li>
       {{ end }}
     </ul>
   {{end}}

{{end}}


{{ range $menu_secondary }}
     <div class="v-top {{if $currentPage.IsMenuCurrent   "main" . }} o-50{{end}}">
      {{ if .HasChildren }}
         <label for="child-menu-button-{{.Name |urlize}}" class="{{$listlinkClasses}}">
          {{- .Name -}}
            <img src="/icons/carat-down.svg" class="dib v-mid gray" height="22px" width="22px"/>
         </label>
      {{else}}
     <a href="{{.URL}}" class="{{$listlinkClasses}}">{{ .Name }}</a>
     {{end}}
     </div>
    {{ if .HasChildren }}
    <input type="checkbox" name="child-menu-button" class="child-menu-button clip" id="child-menu-button-{{.Name |urlize}}" />
     <ul class="child-menu b--dark-gray ba bg-primary-color child list pl0 pv2">
       {{ range .Children }}
         <li class="f6 hover-bg-primary-color-dark hover-light-gray moon-gray pl0 pr3{{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color-dark{{end}}">
           <a href="{{.URL}}" class="color-inherit db link ph3 pv2">
             {{ .Name }}
           </a>
         </li>
       {{ end }}
     </ul>
   {{end}}

{{end}}

{{/* For this menu item, we want the link to go to the latest person who is "in residence" */}}
<hr />

<style>
input.child-menu-button + .child-menu {
  display: none;
}
input.child-menu-button:checked + .child-menu {
  display: block;
}
</style>
