{{ define "main" }}
{{ $events := where (.Site.RegularPages) ".Section" "event" }}
{{ $events_upcoming := where $events.Reverse ".Date.Unix" "ge" now.Unix }}


  {{partial "article-listpage.html" .}}
  <div class="center ph4 ph5-l">

    <div class=" db center">
      {{ partial "box-follow.html" . }}
    </div>

    {{/* <div class="center pt6">
      <div class="flex-l justify-between">
        {{partial "color-labels.html" .}}
      </div>
    </div> */}}
    {{if $events_upcoming}}
      <div class="center mt5 w-100">
        <h2 class="text-color-primary">
          Upcoming Events
        </h2>
        <ul class="dg g-columns-230 g-gap-2 flex flex-wrap justify-between dib hidden list ma0 pa0 scrolling-touch">
          {{ range first 10 $events_upcoming }}
            <span class="mb2 w5 nb3">
              {{.Render "view-list"}}
            </span>
          {{end}}

        </ul>
        {{if ge ($events_upcoming | len) 10 }}
          <a href="event" class="br2 dib ph3 pv2 bg-accent-color hover-bg-primary-color link mb3 white">More Events</a>
        {{end }}
      </div>
    {{end}}

    <h2 class="mt5 text-color-primary">
      Latest News
    </h2>
    {{ partial "news-listing.html" . }}

  </div>
{{ end }}
