:root {
    --sidebar-width: 320px;

  --primary-color:        #4a4f55;
  --primary-color-dark:   #292929;
  --primary-color-light:  #ABA194;
  --accent-color:         #008996;
  --accent-color-light:   #F2F4F3;
  --accent-color-dark:    #4a4f55;
  --text-color-primary:   #4a4f55;
  --text-on-primary-color: #fff;
  --text-color-secondary: #ccc;
  --text-color-disabled:  #F7f7f7;
  --divider-color:        #f6f6f6;
  --warn-color: red;
  --red:  #bb0000;
  --near-white: #f6f6f6;
  --twitter: "#55acee";
  --facebook: "#3b5998";
  --instagram: "#e95950";
  --youtube: "#bb0000";
}
