{{ define "main" }}
  {{/* Identify the section parameter for event lookup */}}
  {{$section := ".Params.program" }}
  {{/* Define any events that are related to this page by the lookup above   */}}
  {{ $events := where (where (.Site.RegularPages) ".Section" "event") $section .File.Path }}
  {{/* If there are events, show the layout with the events listing */}}
  {{ if $events }}
    <div class="flex flex-wrap">
      <div class="w-100 w-70-l">
        {{- partial "article.html" . -}}
      </div>
      <div class="bg-light-gray pa4 w-100 w-30-l">
        {{/* Pull up the events with the above section. Note we are duplicating the lookup in the partial */}}
        {{- partial "related-events.html" (dict "context" . "section" $section) -}}
      </div>
    </div>
  {{else}}
    {{/* If there are no events show a single centered column */}}
    <div class="w-100 mw8 center">
      {{- partial "article-in-residence.html" . -}}
    </div>
  {{end}}
{{ end }}
