
input[type=checkbox]#expandable-nav-side-input {
   display: none;
}
#expandable-nav-side {
  transform: translateX(-320px)
 }

#expandable-nav-side-input:checked + #expandable-nav-side {
  transform: translateX(0);
  transition: all .25s ease-in;


}

.w-sidebar-lg {
  width: var(--sidebar-width);
}
